# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Virtual Environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Distribution / Build
dist/
build/
*.egg-info/

# MkDocs
site/

# Testing
.coverage
htmlcov/
